*{
    box-sizing: border-box;
 
}
body{

    background-color: #f7f8fc;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150vh;
    margin: 0;
    
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 940px
}

.card{

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 300px;
}
.card-header img{

    width: 100%;
    height: 200px;

}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    min-height: 250px;
}
.tag{
    background: #ccc;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;

}
.tag-teal{
    background-color: #92d4e4;

}
.tag-pink{
    background-color: #3d1d94;
}
.tag-purple{
   background-color: #c62bcb; 
}

.card-body h4{
    margin: 10px 0;

}
.card-body p{
    font-size: 13px;
    margin: 0 0 40px; 
}
.user-info {
    display: flex;
    margin-top: auto;
}

.user-info img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;

}
.user-info h5{
    margin: 0;

}
.user-info small{
    color: #888785;

}
@media (max-width: 940px){
    .cantainer{
        grid-template-columns: 1fr;
        justify-items: center;
    }

}